.signaturePad {
  width: 300px;
  height: 182px;
  border: 1px solid #0dd2ff;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 30px;
}

.save_button {
  margin-left: 10px;
  border-radius: 50px;
  border: 1px solid #0dd2ff;
  background-color: transparent;
  color: #0dd2ff;
  cursor: pointer;
}

.clear_button {
  float: right;
  margin-right: 10px;
  border-radius: 50px;
  border: 1px solid #0dd2ff;
  background-color: transparent;
  color: #0dd2ff;
  cursor: pointer;
}

.image-section {
  display: flex;
  flex-wrap: wrap;
}

.signImage {
  border: 1px solid lavender;
  border-radius: 10px;
  margin: 5px;
}